.coverPage {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    height: 10vh;
    width: 75%;
    font-family: $font;
    color: $white;
    font-weight: 700;
    z-index: 2;
    @media (max-width: 768px) {
      width: 90%;
    }
    .space-between {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo {
      font-size: 1.4rem;
    }
    .nav-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        padding: 0 32px;
        @media (max-width: 976px) {
          padding: 0 8px;
        }
        a {
          display: flex;
          font-family: $font;
          color: $white;
          text-decoration: none;
          font-weight: 700;
          @media (max-width: 976px) {
            font-size: 0.875rem;
          }
          &.nav-icon {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
  main {
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
    margin: auto;
    color: $white;
    font-family: $font;
    @media (max-height: 800px) {
      min-height: 75vh;
      padding: 3rem 0;
    }
    @media (max-width: 768px) {
      width: 90%;
    }
    .cta {
      display: flex;
      justify-content: center;
      align-items: center;
      .title {
        font-size: 8rem;
        margin-right: 8rem;
        @media (max-height: 800px) {
          font-size: 5rem;
        }
        @media (max-width: 1536px) {
          font-size: 6rem;
          margin-right: 2rem;
        }
        @media (max-width: 1280px) {
          font-size: 5rem;
        }
        @media (max-width: 967px) {
          font-size: 2rem;
          margin-right: 1rem;
        }
        .playful {
          transition: all 0.4s cubic-bezier(0.15, 0.75, 0.45, 0.95) 0s;
          animation: 10s ease 0s infinite alternate none running rainbow;
        }
      }
      .pfp-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        @media (max-height: 800px) {
          width: 400px;
        }
        @media (max-width: 1280px) {
          width: 300px;
        }
        @media (max-width: 967px) {
          width: 200px;
        }
        .pfp-image {
          position: absolute;
          width: 100%;
        }
        .color-image {
          z-index: 1;
        }
      }
    }

    .job-title {
      font-size: 1.4rem;
      font-weight: 400;
      @media (max-width: 1536px) {
        font-size: 1.2rem;
      }
      @media (max-width: 967px) {
        font-size: 0.9rem;
      }
    }
    .scroll-indicator {
      cursor: pointer;
      position: absolute;
      background: none;
      outline: none;
      border: none;
      color: $white;
      top: 95%;
      left: 50%;
      transform: translate(-50%, -95%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      font-weight: 700;
      font-family: $font;
      span {
        margin: 0.5rem 0;
      }
      &:focus {
        outline: none;
      }
      @media (max-width: 768px) {
        font-size: 0.875rem;
        top: 80%;
        transform: translate(-50%, -80%);
      }
    }
  }
}

@keyframes rainbow {
  0% {
    color: rgb(240, 77, 255);
  }
  25% {
    color: rgb(255, 77, 77);
  }
  50% {
    color: rgb(255, 197, 77);
  }
  75% {
    color: rgb(106, 237, 118);
  }
  100% {
    color: rgb(0, 153, 255);
  }
}
