.projects-container {
  position: relative;
  min-height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  @media (min-width: 768px) {
    overflow: unset;
    -webkit-overflow-scrolling: unset;
  }

  .project {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 80vh;
    .project-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @media (min-width: 768px) {
        flex-direction: row;
      }

      .project-info {
        font-family: $font;
        width: 75%;
        text-align: left;
        color: $white;
        margin: 0 32px;
        @media (min-width: 768px) {
          width: 300px;
        }
        .tools-list {
          columns: 2;
          padding-left: 1.5rem;
          line-height: 20px;
          margin-top: 8px;
          margin-bottom: 16px;
          font-family: $font;
          @media (min-width: 768px) {
            margin-bottom: 24px;
          }
          li {
            font-size: 0.875rem;
            @media (max-height: 750px) {
              font-size: 0.875rem;
            }
          }
        }
        a {
          display: block;
          color: $white;
          text-decoration: none;
          h2 {
            cursor: pointer;
            font-size: 1.5rem;
            margin: 0;
            &:hover {
              transition: all 0.4s cubic-bezier(0.15, 0.75, 0.45, 0.95) 0s;
              animation: 10s ease 0s infinite alternate none running rainbow;
            }
            @media (min-width: 768px) {
              font-size: 2rem;
            }
            @media (max-height: 800px) {
              font-size: 1.6rem;
            }
          }
        }
        h3 {
          font-size: 1rem;
          margin-top: 24px;
          margin-bottom: 0;
          @media (min-width: 768px) {
            font-size: 1.25rem;
          }
        }
        p {
          margin: 1rem 0 0.5rem 0;
          line-height: 20px;
          font-size: 0.875rem;
          font-weight: 300;
          @media (min-width: 768px) {
            font-size: 1rem;
            line-height: 24px;
          }
          @media (max-height: 800px) {
            font-size: 0.875rem;
            line-height: 20px;
          }
        }
        .project-btns {
          display: flex;
          gap: 1rem;
          justify-content: center;
          @media (min-width: 768px) {
            justify-content: start;
          }
          .project-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            padding: 0;
            cursor: pointer;
            width: 100%;
            height: 50px;
            border-radius: 15px;
            border: none;
            outline: none;
            color: $black;
            background: snow;
            font-weight: 700;
            font-family: $font;
            font-size: 0.875rem;
            @media (min-width: 768px) {
              font-size: 1rem;
            }
          }
        }
      }
      a {
        display: block;
        width: 100%;
        @media (min-width: 768px) {
          width: auto;
        }
        .project-image {
          display: block;
          cursor: pointer;
          aspect-ratio: 16 / 9;
          width: 75%;
          margin: 0 auto 1rem auto;
          object-fit: cover;
          object-position: center;
          border-radius: 20px;
          transition: box-shadow 0.3s ease;
          box-shadow: 0 2.8px 2.2px rgba(211, 211, 211, 0.02),
            0 6.7px 5.3px rgba(211, 211, 211, 0.028),
            0 12.5px 10px rgba(211, 211, 211, 0.035),
            0 22.3px 17.9px rgba(211, 211, 211, 0.042),
            0 41.8px 33.4px rgba(211, 211, 211, 0.05),
            0 100px 80px rgba(211, 211, 211, 0.07);
          &:hover {
            box-shadow: 0 2.8px 2.2px rgba(256, 256, 256, 0.02),
              0 6.7px 5.3px rgba(256, 256, 256, 0.028),
              0 12.5px 10px rgba(256, 256, 256, 0.035),
              0 22.3px 17.9px rgba(256, 256, 256, 0.042),
              0 41.8px 33.4px rgba(256, 256, 256, 0.05),
              0 100px 80px rgba(256, 256, 256, 0.07);
          }
          @media (min-width: 768px) {
            width: 400px;
          }
          @media (min-width: 1024px) {
            width: 500px;
            margin: 0 2rem;
          }
          @media (min-width: 1280px) {
            width: 700px;
          }
        }
      }
    }
  }
}